/* frontend/src/common/Header.css */
/* frontend/src/common/Header.css */


.App-header {
  background-color: #337ab7; /* Un color de fondo azul */
  padding: 1rem 4rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(17, 187, 221, 0.897);
}

.App-header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.App-header nav {
  display: flex;
  gap: 2rem;
}

.App-header nav button {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.App-header nav button.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.App-header nav button i {
  font-size: 1.2rem;
  margin-right: 8px;
}

.App-header nav button span {
  font-size: 1rem;
}